<%= search_form_for @q do |f| %>
	<div class='row align-items-center mb-3'>
		<div class="col-4">
			<%= f.search_field :meds_name_or_meds_category_cont, class: 'form-control', placeholder: 'Search by Medicine Name or Category' %>
		</div>
		<div class="col-auto">
			<%= f.submit 'Search', class: 'btn btn-outline-info' %>
		</div>
	</div>
<% end %>
